# <span style="color:Maroon"> Consolidate data for Model

In [1]:
# Required libraries
import pandas as pd
import numpy as np
import os as os

In [2]:
os.chdir("..")
cwd = os.getcwd()
direc = "C:/Users/sidhu/Downloads/Prudential/data/Model data"
os.chdir(f'{cwd}\\Data\\Model data\\')

### Process County level Population

In [3]:
data1 = pd.read_csv("County_population_data.csv")

In [4]:
pd.DataFrame(data1.columns).to_csv("data1_columns.csv",index=False)

In [5]:
data1.head()

,FIPS,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,NPOPCHG_2010,NPOPCHG_2011,NPOPCHG_2012,...,RNATURALINC2013,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RINTERNATIONALMIG2013,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RNETMIG2011,RNETMIG2012,RNETMIG2013
0,1,4779736,4779758,4785570,4801627,4817528,4833722,5812,16057,15901,...,2.059008,1.028664,1.191789,1.089185,-0.032126,-0.157810,0.093459,0.996537,1.033979,1.182645
1,1001,54571,54571,54613,55278,55265,55246,42,665,-13,...,2.388902,0.891793,0.723700,0.723910,7.789537,-3.256651,-3.130910,8.681330,-2.532951,-2.407000
2,1003,182265,182265,183223,186727,190675,195540,958,3504,3948,...,1.843533,1.459657,1.595116,1.491397,14.758751,17.281307,21.086700,16.218408,18.876424,22.578098
3,1005,27457,27457,27341,27301,27232,27076,-116,-40,-69,...,0.073654,0.841843,0.623476,0.626059,-3.257567,-3.447454,-7.365397,-2.415724,-2.823978,-6.739339
4,1007,22915,22919,22883,22770,22662,22512,-36,-113,-108,...,1.151105,0.262852,0.176087,0.221366,-5.738944,-4.930446,-7.305087,-5.476091,-4.754358,-7.083721

In [6]:
varlist = ["ESTIMATESBASE2010", "POPESTIMATE2010", "POPESTIMATE2013", "NPOPCHG_2010", "NPOPCHG_2011", "NPOPCHG_2012",
           "NPOPCHG_2013", "BIRTHS2013", "DEATHS2013", "NATURALINC2013", "INTERNATIONALMIG2013", "DOMESTICMIG2013",
           "NETMIG2013", "RESIDUAL2013", "GQESTIMATESBASE2010", "GQESTIMATES2010", "GQESTIMATES2011", "GQESTIMATES2012",
           "GQESTIMATES2013", "RBIRTH2013", "RDEATH2013", "RNATURALINC2013", "RINTERNATIONALMIG2013", "RDOMESTICMIG2013",
           "RNETMIG2013"]
data1 = data1.drop(varlist,axis=1)

In [7]:
data1 = data1.set_index("FIPS")

In [8]:
data1.head()

,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,BIRTHS2010,BIRTHS2011,BIRTHS2012,DEATHS2010,DEATHS2011,DEATHS2012,NATURALINC2010,...,RDEATH2011,RDEATH2012,RNATURALINC2011,RNATURALINC2012,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RDOMESTICMIG2011,RDOMESTICMIG2012,RNETMIG2011,RNETMIG2012
FIPS,,,,,,,,,,,,,,,,,,,,,
1,4779736,4801627,4817528,14966,59700,59356,11090,48424,48596,3876,...,10.101806,10.104006,2.352304,2.237203,1.028664,1.191789,-0.032126,-0.157810,0.996537,1.033979
1001,54571,55278,55265,170,636,607,146,493,490,24,...,8.972527,8.865328,2.602579,2.116823,0.891793,0.723700,7.789537,-3.256651,8.681330,-2.532951
1003,182265,186727,190675,549,2187,2127,536,1852,1788,13,...,10.012164,9.475307,1.811056,1.796493,1.459657,1.595116,14.758751,17.281307,16.218408,18.876424
1005,27457,27301,27232,69,334,277,130,309,268,-61,...,11.309981,9.828911,0.915047,0.330075,0.841843,0.623476,-3.257567,-3.447454,-2.415724,-2.823978
1007,22915,22770,22662,57,266,242,28,242,242,29,...,10.601713,10.653284,1.051410,0.000000,0.262852,0.176087,-5.738944,-4.930446,-5.476091,-4.754358

### Processs Mortality: Category by County 5yr Data

In [9]:
data2 = pd.read_csv("Mortality_Category_County_5yr_Data.csv")

In [10]:
pd.DataFrame(data2.columns).to_csv("data2_columns.csv",index=False)

In [11]:
data2 = data2.set_index("FIPS")
data2.head()

,HVT_MR1980_VAL,HVT_MR1980_LB,HVT_MR1980_UB,HVT_MR1985_VAL,HVT_MR1985_LB,HVT_MR1985_UB,HVT_MR1990_VAL,HVT_MR1990_LB,HVT_MR1990_UB,HVT_MR1995_VAL,...,FON_MR2000_VAL,FON_MR2000_LB,FON_MR2000_UB,FON_MR2005_VAL,FON_MR2005_LB,FON_MR2005_UB,FON_MR2010_VAL,FON_MR2010_LB,FON_MR2010_UB,FON_PC1980_2010
FIPS,,,,,,,,,,,,,,,,,,,,,
0,1.52,1.44,1.44,3.16,3.11,3.11,11.45,11.34,11.34,16.61,...,0.20,0.11,0.11,1.20,0.37,0.37,0.23,0.13,0.13,-0.808333
1,1.46,1.33,1.33,2.15,2.03,2.03,8.03,7.79,7.79,14.10,...,0.47,0.25,0.25,1.81,0.42,0.42,0.39,0.19,0.19,-0.784530
1001,0.95,0.68,0.68,1.44,1.12,1.12,6.57,5.49,5.49,10.75,...,0.23,0.03,0.03,1.43,0.11,0.11,0.31,0.04,0.04,-0.783217
1003,0.84,0.63,0.63,1.44,1.18,1.18,6.51,5.71,5.71,11.18,...,0.19,0.03,0.03,1.07,0.08,0.08,0.20,0.03,0.03,-0.813084
1005,1.11,0.82,0.82,1.81,1.43,1.43,7.86,6.66,6.66,15.65,...,0.30,0.04,0.04,1.70,0.14,0.14,0.34,0.04,0.04,-0.800000

### Process Mortality: Yearly by Category by Gender

In [12]:
data3_0 = pd.read_csv("Mortality_yearly_category_gender_part0.csv")
data3_1 = pd.read_csv("Mortality_yearly_category_gender_part1.csv")
data3_2 = pd.read_csv("Mortality_yearly_category_gender_part2.csv")
data3_3 = pd.read_csv("Mortality_yearly_category_gender_part3.csv")
data3_4 = pd.read_csv("Mortality_yearly_category_gender_part4.csv")

In [13]:
data3 = data3_0.append(data3_1).append(data3_2).append(data3_3)
del data3_0, data3_1, data3_2, data3_3

In [14]:
data3.columns = ["FIPS"] + list(data3.columns)[1:]

In [15]:
pd.DataFrame(data3.columns).to_csv("data3_columns.csv",index=False)

In [16]:
data3 = data3.set_index("FIPS")
data3.head()

,ACA_3_1980,ACA_3_1981,ACA_3_1982,ACA_3_1983,ACA_3_1984,ACA_3_1985,ACA_3_1986,ACA_3_1987,ACA_3_1988,ACA_3_1989,...,FON_2_2005,FON_2_2006,FON_2_2007,FON_2_2008,FON_2_2009,FON_2_2010,FON_2_2011,FON_2_2012,FON_2_2013,FON_2_2014
FIPS,,,,,,,,,,,,,,,,,,,,,
1,1164.632961,1147.749702,1125.715064,1126.679752,1130.392543,1135.529469,1133.352283,1125.171180,1133.394785,1118.441262,...,1.563365,0.465119,0.621395,0.365377,0.276602,0.343034,3.090993,0.268321,0.152681,0.113366
1001,1216.628236,1201.927171,1177.720295,1198.145612,1202.072071,1193.080655,1194.092086,1184.347441,1183.340818,1155.922891,...,1.644606,0.439869,0.517595,0.308103,0.244124,0.338592,2.214564,0.264109,0.163852,0.107621
1003,1054.985089,1066.850773,1021.919358,1037.654056,1034.465691,1021.703234,1029.075236,1011.439196,1004.382577,993.147833,...,1.067815,0.262617,0.284925,0.173179,0.147931,0.157512,0.291239,0.128037,0.076794,0.049167
1005,1203.480621,1203.257358,1166.239556,1163.862118,1154.231532,1161.544963,1147.930048,1145.036634,1141.358230,1131.546667,...,1.767335,0.492750,0.601278,0.356751,0.295591,0.338493,0.593274,0.284086,0.162825,0.120090
1007,1208.841516,1197.688606,1179.311172,1184.781642,1184.256935,1201.511482,1188.713800,1189.522244,1187.407220,1170.204198,...,2.604567,0.862143,1.156680,0.575746,0.449795,0.593402,0.857125,0.525054,0.252252,0.186243

In [17]:
varlist = ["ACA_3_2013", "ACA_1_2013", "ACA_2_2013", "CMN_3_2013", "CMN_1_2013", "CMN_2_2013", "HVT_3_2013", "HVT_1_2013",
           "HVT_2_2013", "DLR_3_2013", "DLR_1_2013", "DLR_2_2013", "NTD_3_2013", "NTD_1_2013", "NTD_2_2013", "MDA_3_2013",
           "MDA_2_2013", "NDA_3_2013", "NDA_1_2013", "NDA_2_2013", "NEA_3_2013", "NEA_1_2013", "NEA_2_2013", "OTA_3_2013",
           "OTA_1_2013", "OTA_2_2013", "OCD_3_2013", "OCD_1_2013", "OCD_2_2013", "NOA_3_2013", "NOA_1_2013", "NOA_2_2013",
           "CDA_3_2013", "CDA_1_2013", "CDA_2_2013", "CRE_3_2013", "CRE_1_2013", "CRE_2_2013", "COC_3_2013", "COC_1_2013",
           "COC_2_2013", "DDA_3_2013", "DDA_1_2013", "DDA_2_2013", "NIA_3_2013", "NIA_1_2013", "NIA_2_2013", "MSU_3_2013",
           "MSU_1_2013", "MSU_2_2013", "DUB_3_2013", "DUB_1_2013", "DUB_2_2013", "MIA_3_2013", "MIA_1_2013", "MIA_2_2013",
           "ONC_3_2013", "ONC_1_2013", "ONC_2_2013", "IAA_3_2013", "IAA_1_2013", "IAA_2_2013", "TIA_3_2013", "TIA_1_2013",
           "TIA_2_2013", "UIA_3_2013", "UIA_1_2013", "UIA_2_2013", "SHI_3_2013", "SHI_1_2013", "SHI_2_2013", "FON_3_2013",
           "FON_1_2013", "FON_2_2013"]

In [18]:
data3 = data3.drop(varlist,axis=1)

In [19]:
data3["Mortality_change_2012_2014"] = (data3["ACA_3_2014"] - data3["ACA_3_2012"])/data3["ACA_3_2012"]
data3["Mortality_change_2012_2014"].describe()

count    2555.000000
mean        0.006083
std         0.012525
min        -0.057023
25%        -0.001046
50%         0.006535
75%         0.013961
max         0.055980
Name: Mortality_change_2012_2014, dtype: float64

In [20]:
data3["Target"] = np.where(data3["Mortality_change_2012_2014"]>0.015,1,0)
data3["Target"].describe()

count    2555.000000
mean        0.223483
std         0.416661
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Target, dtype: float64

In [21]:
varlist = ["ACA_3_2014", "ACA_1_2014", "ACA_2_2014", "CMN_3_2014", "CMN_1_2014", "CMN_2_2014", "HVT_3_2014", "HVT_1_2014", 
           "HVT_2_2014", "DLR_3_2014", "DLR_1_2014", "DLR_2_2014", "NTD_3_2014", "NTD_1_2014", "NTD_2_2014", "MDA_3_2014",
           "MDA_2_2014", "NDA_3_2014", "NDA_1_2014", "NDA_2_2014", "NEA_3_2014", "NEA_1_2014", "NEA_2_2014", "OTA_3_2014",
           "OTA_1_2014", "OTA_2_2014", "OCD_3_2014", "OCD_1_2014", "OCD_2_2014", "NOA_3_2014", "NOA_1_2014", "NOA_2_2014",
           "CDA_3_2014", "CDA_1_2014", "CDA_2_2014", "CRE_3_2014", "CRE_1_2014", "CRE_2_2014", "COC_3_2014", "COC_1_2014",
           "COC_2_2014", "DDA_3_2014", "DDA_1_2014", "DDA_2_2014", "NIA_3_2014", "NIA_1_2014", "NIA_2_2014", "MSU_3_2014",
           "MSU_1_2014", "MSU_2_2014", "DUB_3_2014", "DUB_1_2014", "DUB_2_2014", "MIA_3_2014", "MIA_1_2014", "MIA_2_2014",
           "ONC_3_2014", "ONC_1_2014", "ONC_2_2014", "IAA_3_2014", "IAA_1_2014", "IAA_2_2014", "TIA_3_2014", "TIA_1_2014",
           "TIA_2_2014", "UIA_3_2014", "UIA_1_2014", "UIA_2_2014", "SHI_3_2014", "SHI_1_2014", "SHI_2_2014", "FON_3_2014",
           "FON_1_2014", "FON_2_2014"]

In [22]:
data3 = data3.drop(varlist, axis=1)

In [23]:
pd.DataFrame(data3.columns).to_csv("data3_columns.csv", index=False)

### Population by Race by Year

In [24]:
data4 = pd.read_csv("Population_Race.csv")

In [25]:
data4.shape

(3143, 8323)

In [26]:
data4.head()

,Unnamed: 0,TOT_POP2010_0,TOT_POP2010_1,TOT_POP2010_2,TOT_POP2010_3,TOT_POP2010_4,TOT_POP2010_5,TOT_POP2010_6,TOT_POP2010_7,TOT_POP2010_8,...,HNAC_FEMALEPC9_2012,HNAC_FEMALEPC10_2012,HNAC_FEMALEPC11_2012,HNAC_FEMALEPC12_2012,HNAC_FEMALEPC13_2012,HNAC_FEMALEPC14_2012,HNAC_FEMALEPC15_2012,HNAC_FEMALEPC16_2012,HNAC_FEMALEPC17_2012,HNAC_FEMALEPC18_2012
0,1001,54571,3579,3991,4290,4290,3080,3157,3330,4157,...,0.222222,0.000000,0.000000,0.111111,0.111111,0.000000,0.000000,0.0,0.0,0.0
1,1003,182265,11158,11599,11926,11600,9449,10247,10709,11558,...,0.058824,0.000000,0.029412,0.000000,0.029412,0.058824,0.000000,0.0,0.0,0.0
2,1005,27457,1702,1642,1599,1731,1794,2010,1808,1819,...,0.153846,0.307692,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,1007,22915,1378,1405,1440,1543,1491,1603,1646,1747,...,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,1009,57322,3616,3880,4084,4033,3107,3436,3441,3892,...,0.142857,0.000000,0.047619,0.000000,0.000000,0.000000,0.047619,0.0,0.0,0.0

In [27]:
cols = list(data4.columns)[1:]
cols = ["FIPS"] + cols
data4.columns = cols
data4 = data4.set_index("FIPS")

In [28]:
data4.head()

,TOT_POP2010_0,TOT_POP2010_1,TOT_POP2010_2,TOT_POP2010_3,TOT_POP2010_4,TOT_POP2010_5,TOT_POP2010_6,TOT_POP2010_7,TOT_POP2010_8,TOT_POP2010_9,...,HNAC_FEMALEPC9_2012,HNAC_FEMALEPC10_2012,HNAC_FEMALEPC11_2012,HNAC_FEMALEPC12_2012,HNAC_FEMALEPC13_2012,HNAC_FEMALEPC14_2012,HNAC_FEMALEPC15_2012,HNAC_FEMALEPC16_2012,HNAC_FEMALEPC17_2012,HNAC_FEMALEPC18_2012
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,54571,3579,3991,4290,4290,3080,3157,3330,4157,4086,...,0.222222,0.000000,0.000000,0.111111,0.111111,0.000000,0.000000,0.0,0.0,0.0
1003,182265,11158,11599,11926,11600,9449,10247,10709,11558,11995,...,0.058824,0.000000,0.029412,0.000000,0.029412,0.058824,0.000000,0.0,0.0,0.0
1005,27457,1702,1642,1599,1731,1794,2010,1808,1819,1809,...,0.153846,0.307692,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1007,22915,1378,1405,1440,1543,1491,1603,1646,1747,1635,...,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1009,57322,3616,3880,4084,4033,3107,3436,3441,3892,4033,...,0.142857,0.000000,0.047619,0.000000,0.000000,0.000000,0.047619,0.0,0.0,0.0

In [29]:
pd.DataFrame(data4.columns).to_csv("Data4_columns.csv",index=False)

### Merge Datasets

In [30]:
data = data1.merge(data2, how="outer", left_index = True, right_index = True)

In [31]:
data = data.merge(data3, how="outer", left_index = True, right_index = True)

In [32]:
data = data.merge(data4, how="outer", left_index = True, right_index = True)

In [33]:
data.shape

(3197, 11264)

In [34]:
data.head()

,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,BIRTHS2010,BIRTHS2011,BIRTHS2012,DEATHS2010,DEATHS2011,DEATHS2012,NATURALINC2010,...,HNAC_FEMALEPC9_2012,HNAC_FEMALEPC10_2012,HNAC_FEMALEPC11_2012,HNAC_FEMALEPC12_2012,HNAC_FEMALEPC13_2012,HNAC_FEMALEPC14_2012,HNAC_FEMALEPC15_2012,HNAC_FEMALEPC16_2012,HNAC_FEMALEPC17_2012,HNAC_FEMALEPC18_2012
FIPS,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4779736.0,4801627.0,4817528.0,14966.0,59700.0,59356.0,11090.0,48424.0,48596.0,3876.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,710231.0,723375.0,730307.0,2753.0,11720.0,11349.0,807.0,3769.0,3998.0,1946.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6392017.0,6468796.0,6551149.0,22278.0,86101.0,86127.0,11486.0,47605.0,49898.0,10792.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2915918.0,2938506.0,2949828.0,9390.0,38452.0,38847.0,7013.0,29216.0,28869.0,2377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data = data[data.index > 100]

In [36]:
data = data.fillna(0)

In [37]:
data.to_csv("Final_model_dataset.csv")